<%- include("templates/cabecera", {tituloWeb: 'Pagina de inicio'}) %>

     <div class="container">


          <h1>CRUD Mongo</h1>
          <!-- PARA LA UBICACION NO PONER COMO HTML NORMAL -->
          <!-- SINO UBICACION POR CARPETAS DEL APP.JS, POR EJEMPLO /mascotas/crear -->
          <a href="/mascotas/crear" class="btn btn-success btn-block my-4">Crear nueva Mascota</a>


          <table class="table">
               <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Nombre</th>
                   <th scope="col">Descripcion</th>
                   <th scope="col">Accion</th>
                 </tr>
               </thead>
               <tbody>
                    <% if (arrayMascotas.length > 0) { %>
                         <% arrayMascotas.forEach(mascota => { %>
                              <tr>
                                   <th scope="row"><%= mascota.id %></th>
                                   <td><%= mascota.nombre %></td>
                                   <td><%= mascota.descripcion %></td>
                                   <td>@mdo</td>
                              </tr>
                         <% }) %>
                    <% } %>     
               </tbody>
             </table>

          
     </div>

<%- include("templates/footer") %>
